.container {
  border: 1px solid rgb(105, 105, 105);
  border-radius: .5px;
}

.row:nth-child(even) {
  background: #fff;
}
.row:nth-child(odd) {
  background: rgb(187, 80, 80);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.name {
  font-size: 13px;
  width: 177px;
  text-align: left;
}

.header:first-child { 
  width: 177px;
  text-align: left;
  font-weight: bold;
}

.header {
  font-size: 13px;
  width: 192px;
  text-align: left;
  font-weight: bold;
}

.input {
  padding: 3px 6px;
  width: 157px;
  margin: 0 19px 0 0;

  border: 1px solid #00000061;
  border-radius: 5px;
  outline:none;
}
.input:active{
  border: 1px solid #00000061;
  outline:none;
}