.container {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 6px;
}

.row:nth-child(even) {
  background: rgb(187, 80, 80);
  color: white;
}
.row:nth-child(odd) {
  background: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.name {
  font-size: 16px;
  width: 177px;
  text-align: left;
}

.header:first-child {
  font-size: 16px;
  width: 177px;
  text-align: left;
  font-weight: bold;
}

.header {
  font-size: 16px;
  width: 192px;
  text-align: left;
  font-weight: bold;
}

.input {
  padding: 2px 5px;
  width: 157px;
  margin: 0 19px 0 0;
}

.header-title {
  font-weight: bold;
  font-size: 24px;
  padding: 2px 5px;
}